[submodule "packages/menuitems"]
	path = packages/menuitems
	url = git://github.com/diox/menuitems-jplib.git
[submodule "packages/vold-utils"]
	path = packages/vold-utils
	url = git://github.com/erikvold/vold-utils-jplib
[submodule "packages/xulkeys"]
	path = packages/xulkeys
	url = git://github.com/erikvold/xulkeys-jplib.git
[submodule "packages/menupopup"]
	path = packages/menupopup
	url = git://github.com/diox/menupopup-jplib.git
