:root {
    --sidebar-background-color: rgb(255, 255, 255);
    --scroller-background-color: rgba(100, 100, 100, 0.3);
    --scroller-outline-color: rgb(100, 100, 100);
}

body, html {
    background-color: var(--sidebar-background-color);
    height: 100%;
    margin: 0;
    overflow: hidden; /* never show actual sidebar scrollbar, because it's ugly and messes up our calculations */
    width: 100%;    
}

#minimap {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

}

#scroller {
    background-color: var(--scroller-background-color);
    display: none;
    outline: 1px solid var(--scroller-outline-color);
    position: absolute;
    z-index: 2;
}
