body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* never show actual sidebar scrollbar, because it's ugly and messes up our calculations */
}

#minimap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

#scroller {
    position: absolute;
    z-index: 2;
    background: rgba(100, 100, 100, 0.3);
    display: none;
    outline: 1px solid rgb(100, 100, 100);
}

